<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RegisterAccount</title>
    <style type="text/css">




    </style>
</head>
<body>
<div id = background>
    <div id = register_form>
        <div class = "register_title">
         Register your account :)
        </div>
      <form th:action="" method="POST" th:object="">
         <div id = "register content">
             <br>
         <div>
             <label for="username">Username</label>
             <input type="text" th:field="*{username}" id = "username" name="username">
         </div>
         <div>
             <label for="password">Password</label>
             <input type="text" th:field="*{username}" id = "password" name="password">
         </div>
         <div>
             <button type = "submit">Save and Register</button>

         </div>


         </div>>
      </form>
    </div>
</div>
</body>
</html>